
button {
    border: none;
    background-color: #8f8c9d;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;

	border-bottom: 5px solid #36343b;
	border-top: 2.5px solid #65626e;
	border-left: 2.5px solid #65626e;
	border-right: 2.5px solid #65626e;
}

button:hover {
    background-color: #5f5d68;
}

.plus, 
.equals, 
.minus, 
.decimal, 
.multiply, 
.divide, 
.percent, 
.plusminus, 
.reset {
    background-color: #1e1d24;
}

.plus:hover, 
.equals:hover, 
.minus:hover, 
.decimal:hover, 
.multiply:hover, 
.divide:hover, 
.percent:hover, 
.plusminus:hover, 
.reset:hover {
    background-color: #15141b;
}

.equals {
    grid-column: 3 / 5;
}