.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    background-color: #98a194;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    font-weight: bold;
    box-sizing: border-box;

    border-bottom: 5px solid #36343b;
    border-top: 2.5px solid #65626e;
    border-left: 5px solid #65626e;
    border-right: 5px solid #65626e;
}