.wrapper {
    width: 340px;
    height: 540px;
    padding: 40px;
    border-radius: 25px;
    background-color: #494455;

    border-bottom: 5px solid #36343b;
    border-top: 2.5px solid #65626e;
    border-left: 5px solid #65626e;
    border-right: 5px solid #65626e;
  }

  @media only screen and (max-width: 450px) {
    html body {
      background-color: #494455;
    }
    .wrapper  {
      padding: 20px;
      border: none;
      border-radius: 0;
    }
  }

  @media only screen and (max-width: 400px) {
    .wrapper  {
      position: absolute;
      width: 88.5vw;
      top: 4rem; 
      right: 0; 
      bottom: 0; 
      left: 0;
    }
  }
  .animate-flicker div {
    opacity:0;
  }